{% extends "Rush00/layout.html" %}

{% block content %}
	{% load static %}
 		<div class="player">
 			<img src="{% static 'player.png' %}" class="player" style="top:{{mapy}}%;left:{{mapx}}%">
 		</div>
 	<div class="moviballs" style="position: absolute"> MovieBalls: {{movieball}} {% if etat == "ball" %} -> +1 MovieBall {% endif %}
	</div>
		
		<img src="{% static 'map.jpg' %}" class="map">
 
	{% if etat == "attack" %}<div class="message">Attaque de {{movietitle}}</div>{% endif %}

 <!-- <div class="coord">[{{mapx}} : {{mapy}}]</div> -->

{% endblock %}
